### Gitignore - C++ template ##

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.tab.c 
*/lex.*.c 
*.tab.h

*.output

*~

# System temporary files
.DS_Store
thumbs.db

Xylo
/nbproject/
/nbproject/private/
